<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="baza" connectionString="Data Source=STEFAN-PC\SQLEXPRESS;Initial Catalog=Igraonica_radnik;Integrated Security=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
